.modalOverlay {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalBox {
    display: block;
    background: white;
    width: 70%;
    height: 80%;
    padding: 2rem;
    border-radius: 1rem;
  
   
    
  }
  h2{
    text-align: center;
  }
  .movieHeroImageBox{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .movieHeroImage{
    width: 70%;
   
   
  }